    .bg {
        background-image: url("assets/img/bg_login.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
    }
    
    .container-form {
        border: 1px solid #ffffff;
        margin-top: 28px;
        padding: 30px 40px;
        border-radius: 10px;
        /* -webkit-box-shadow: 0px 0px 70px -9px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 70px -9px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 70px -9px rgba(255, 255, 255, 1); */
    }